# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\ghostt\Desktop\РАЗРЫВАЕМ ЖУРНАЛИСТИКУ\StringExperimentsRegex\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
